* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #FFF;
  background: #1C1C1C;
}

.container, .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: #1C1C1C;
  width: 550px;
  height: 729px
}

.main {
  background: #6943FF;
  width: 550px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 33px 51px;
}

#unit {
  width: 117px;
  height: 83px;
  text-align: center;
  border: 2px solid #B295FF;
  border-radius: 5px;
  background-color: #6943FF;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  color: #FFF;
  margin-bottom: 27px;
}

#convert-btn {
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 500;
  width: 117px;
  height: 42px;
  background: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 34px;
}

.grid-list {
  text-align: center;
  background: #1F2937;
;
}

.card {
  width: 500px;
  height: 108px;
  background:#273549;
  border-radius: 5px;
  padding: 31px 77px 19px;
  margin: 25px;
}

.card:first-child {
  margin-top: 35px;
}

.card:last-child {
  margin-bottom: 35px;
}

.results-header {
  color: #CCC1FF;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 9px;
}

.results-text {
  font-size: 14px;
  font-weight: 400;
}